@import "~react-vis/dist/style";

.container {
  margin: 0 20px 20px 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto 40px auto;
}

.title {
  margin-top: 65px;
}

.description {
  margin: 10px 0;
  line-height: 1.7;
  color: #424249;
  align-self: flex-start;
}

.simulation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.simulationInner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}
