@import "~react-vis/dist/style";

.container {
  margin: 85px 20px 20px 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto 50px auto;
}

.title {

}

.description {
  margin: 10px 0;
  line-height: 1.7;
  color: #424249;
}

.simulation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.simulationInner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}
