.container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  min-width: 85px;
  top: 9px;
  left: calc(100% + 3px);
  border: 2px solid #e6e6e9;
  padding: 4px 6px;
  background-color: white;
}

.title {
  color: #6b6b76;
  font-size: 11px;
  margin: 0;
  padding: 2px 0;
}

.item {
  padding: 2px 0;
  display: flex;
  align-items: center;
}

.color {
  height: 2px;
  width: 14px;
  margin-right: 7px;
}

.name {
  color: #6b6b76;
  font-size: 11px;
  margin: 0;
}
