.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.plotContainer {
  display: flex;
  flex-direction: column;
}

%axisLabel {
  color: #6b6b76;
  font-weight: 600;
  font-size: 11px;
  margin: 0;
}

.xAxisLabel {
  @extend %axisLabel;
  align-self: flex-end;
}

.yAxisLabel {
  @extend %axisLabel;
  align-self: flex-start;
  margin-bottom: 14px;
}
